*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(215, 229, 229);
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: white;
    padding: 36px;
    border-radius: 12px;
}

.star{
    font-size: 10vh;
    cursor: pointer;
}

.one{
    color: rgb(210, 77, 77);
}

.two{
    color: rgb(240, 181, 70);
}

.three{
    color: rgb(239, 239, 56);
}

.four{
    color: rgb(196, 196, 1);
}

.five{
    color: rgb(17, 160, 17);
}